<form method="POST" action="/signup">
  <p>
    <label>Email:</label>
    <input name='email' type='text'>
  </p>
  <p>
    <label>Password:</label>
    <input name='password' type='password'>
  </p>
  <button type="submit" value="Sign Up">Sign up</submit>
</form>
